@page "/login"
@using Microsoft.AspNetCore.Components
@using Microsoft.EntityFrameworkCore;
@using WeRun_App;
@inject NavigationManager NavigationManager;

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <InputText @bind-Value="loginModel.Username" />
    <InputText @bind-Value="loginModel.Password" type="password" />
    <button type="submit">Login</button>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="text-danger">@errorMessage</p>
    }
</EditForm>


@code {
    // private LoginModel loginModel = new LoginModel();
    // private string? errorMessage;

    // private async Task HandleLogin()
    // {
    //     using var context = DbContextFactory.CreateDbContext();
    //     var user = await context.Users
    //                 .FirstOrDefaultAsync(u => u.Username == loginModel.Username &&
    //                                           u.Password == loginModel.Password); // Consider hashing
    //     if (user != null)
    //     {
    //         NavigationManager.NavigateTo("/HomeLogin");
    //     }
    //     else
    //     {
    //         errorMessage = "Invalid username or password";
    //     }
    // }
}